
:root {
    --main-radius: 30px;
    --main-padding: 5px;
    --clr-graylight: #cfd8dc;
    --clr-graymed: #90a4ae;
    --radius: 20px;

    --animation-curve: cubic-bezier(0.34, 1.36, 0.2, 1);
  }
  

body {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #000000 !important;
}

html{
  /* background-image: linear-gradient(to right, #c6c6c6 0%, rgb(255, 255, 255) 100%); */
  background-image: #fff;
  background-repeat: no-repeat;
}

p{
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}


/*** Application's body ***/
.container {
  display: grid;
  height: 90vh;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 1fr;
  grid-template-areas:
    " zplane controls-bar magres phaseres "
    " signal controls-bar inputGraph outputGraph ";
  grid-gap: 1rem;
  font-weight: 800;
  font-size: 18px;
  color: black;
  text-align: center;
  margin: 30px;
  margin-left: 15px !important;
  margin-top: 50px;


}




/*** Boxes ***/
.content{

  border-radius: 10px;
  /* padding-top: var(--main-padding); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(238, 238, 238);
  width: 300px;
  height: 300px;
  margin-top: 20px;

  
}

#signal {
  grid-area: signal;


}
#magres {
  width: 540px;
  grid-area: magres;
}



#phaseres {
  width: 540px;
  grid-area: phaseres;
}
#filteredphaseres {
  width: 450px !important;
  height: 250px;
  grid-area: filteredphaseres;
  margin-left: 10px;



}

#inputGraph{
  width: 540px;
  grid-area: inputGraph;
}

#outputGraph{
  width: 540px;
  grid-area: outputGraph;
}



/*** Canvas inside boxes ***/
.canvas{
    background-color: #f4f4f4;
    width: 90%;
    height: 90%;
    object-fit: contain;
    align-self: center;
}

/*** Box controls ***/
.controls-bar {
  width: 45px;
  height: fit-content;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  align-self: center;
  margin-top: 15px;
}

.controls-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: black;
  font-size: 25px;
  border-radius: 20%;

}

.controls-bar a:hover {
  background-color: white;
  border-radius: 20%;
  color: #000000 !important;


}

.active {
  background-color: white;
}


/* switch */

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  bottom: 0;
}

.select {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 5 auto;
  border-radius: 100px;
  margin-left: 7px !important;

}

.select,
.select .layer {
  width: 10px;
  height: 35px;
  margin-left: 3px;
  padding: 1px;
  border-radius: 100px;
}

.trash-icon {
  opacity: 1;
  top: 0%;
}




.outer {
  position: relative;
  margin: auto;
  cursor: pointer;
}

.delp {
  width: inherit;
  color: #000000 !important;

}

label { 
  text-align:center;
  font-size: .35em; 
  line-height: .35em;
  text-transform: uppercase;
  color: #000000;
  transition: all .3s ease-in;
  opacity: 1;
  cursor: pointer;
}



.checkbox {
  position: relative;
  width: 30px;
  height: 50px;
  margin-left: -1px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  width: 30px;
  height: 35px;
  margin-left: -27.5px;
  z-index: 2;
}

.layer {
  position: absolute;
  margin-left: -10px;
  transition: 0.3s ease all;
  z-index: 1;
}


#select .knobs:before {
  content: "Z";
  position: absolute;
  top: -4px;
  width: 14px;
  height: 5px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  left: 26px;
  background-color: #000000;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#select .layer{
  background-color:rgb(176, 176, 176);
}

#select .checkbox:checked + .knobs:before {
  content: "P";
  top: 18px;
  background-color: #202122;
}

#select .checkbox:checked ~ .layer {
  background-color: rgb(176, 176, 176);
}

#select .knobs,
#select .knobs:before,
#select .layer {
  transition: 0.3s ease all;
}




#export{
  transform: rotate(270deg);
}


#import{
  transform: rotate(90deg);
}

#ctxmenu {
  position: fixed;
  background:  rgb(238, 238, 238);
  color: black;
  cursor: pointer;
  border: 1px black solid
}

#ctxmenu > p {
  padding: 0 1rem;
  margin: 0
}

#ctxmenu > p:hover {
  background: black;
  color:  rgb(238, 238, 238);
}
.navbar-top {
  background: #fcfdff;
  padding: 0 10px;
  /* padding-bottom: 10px; */
  border-bottom: 2px rgb(176, 176, 176);
  }
  
  nav .nav-link {
  color: rgb(0, 0, 0) !important;
  }
  nav .nav-link:hover {
    background: rgb(0, 0, 0) !important;
    color: white !important;
    }
  
  *, ::after, ::before {
    box-sizing: unset !important;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "zplane"
      "controls-bar"
      "signal"
      "magres"
      "phaseres"
      "inputGraph"
      "outputGraph";

  } 
  }


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  display: grid;
  height: 90vh;
  grid-template-areas:
    " filteredphaseres "
   "slidercontainer";
  
  grid-gap: 1rem;
  margin-top: 50px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}






.slidercontainer{max-width: 1350px;margin-bottom:20px; margin-left: 40px;  grid-area: slidercontainer; 
}
.swiper_wrap{padding:0px 50px;height:100%;width: 100%;position: relative;display: block;text-align: center;}

.swiper-button-next{
margin-top: 0px;
position: absolute;
top: 50%;
right: -40px;
width: 45px;
height: 45px;
transform: translateY(-50%);
}
.swiper-button-prev{
  position: absolute;
  top: 50%;
  left: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  margin-top: 0px;
}

.swiper-slide{
  width: 350px !important;
  height: 180px !important;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;

}
.swiper-slide:hover{
  border:solid #007aff;
  

}
.swiper-slide:hover .avalue{
  opacity: 1;  

}
img {
  width: 350px;
  height: 180px;
}


.avalue {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}